django>=1.3
python-dateutil==1.5
-e git://github.com/embedly/embedly-python.git#egg=embedly-python
-e git://github.com/redsolution/django-secretballot@martmedia#egg=redsolution-secretballot
-e git://github.com/bradjasper/django-jsonfield.git#egg=jsonfield
django-tagging
django-tagging-autocomplete
django-form-utils
svn+http://django-tagging-autocomplete.googlecode.com/svn/trunk/
django-countries