{%extends "base.html"%}
{%load tagging_tags%}

{%block title%}Add something{%endblock%}

{%block style%}
<style>
  .error { color:red; }
</style>
{%endblock%}

{%block script%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
<script src="{{MEDIA_URL}}js/django_csrf.js"></script>
<script src="{{MEDIA_URL}}js/jquery.slugify.js"></script>
<script src="{{MEDIA_URL}}js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/add_media.js"></script>
{%endblock%}

{%block content%}
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  
  <h2>Add Form</h2>
  
  <form id="addform" action="" method="POST">
    {% csrf_token %}
      {% for fieldset in form.fieldsets %}
        <fieldset class="{{ fieldset.classes }}">
        {% if fieldset.legend %}
          <legend>{{ fieldset.legend }}</legend>
          {{fieldset.extra}}
        {% endif %}
        {% if fieldset.description %}
          <p class="description">{{ fieldset.description }}</p>
        {% endif %}
        <ul>
        {% for field in fieldset %}
          {% if field.is_hidden %}
            {{ field }}
          {% else %}
            <li{{ field.row_attrs }} {% if field.errors %}class="error"{%endif%}>
              {{ field.label_tag }}
              {{ field }}
              <div class="help_text"><p>{{ field.help_text}}</p></div>
              {{field.errors}}
            </li>
          {% endif %}
        
          {% if field.name == "tags" %}
            {% tag_cloud_for_model mediacurate.media as cloud_tags with steps=6 distribution=linear %}
            <ul id="tag_cloud">
          	  {% for tag in cloud_tags %}
          	  <li><a href="/search/?tag={{tag}}" style="font-size:{{tag.font_size|add:"12"}}px;">{{tag}}</a></li>
          		{% endfor %}
          	</ul>
          {%endif%}
          {% if fieldset.name == "URL" %}
            <div id="supported_providers">Youtube, Vimeo, Flickr, Facebook, or <a href="http://embed.ly/providers" target="_blank">200 others</a>.</div>
            <input id="id_preview_button" type="button" value="preview" />
            <div id="preview" style="display:none;">
              <label>Preview</label>
              <div class="spinner">wait for it...</div>
              <div id="preview_html"></div>
              <div id="preview_description"></div>
            </div>
          {%endif%}
        {% endfor %}
        </ul>
        </fieldset>
      {% endfor %}
      {%if form.errors%}<div class="errors">{{form.errors}}</div>{%endif%}
      <input id="addform_submit" type="submit" value="submit"/>
    </form>
{%endblock%}