{%extends "base.html"%}
{% load comments %}
{% load humanize %}

{%block title%}Search{%endblock%}

{%block content%}
<h1>
  Results for <span class="query">{{query}}</span>
</h1>

<ul id="results">
  {% for r in results %}
	<li class="result">
		<a class="thumb" href="{{r.get_absolute_url}}"><img src="{{r.embed.response.thumbnail_url}}" width="100"></a>
		<h4><a href="{{r.get_absolute_url}}">{{r.title}}</a></h4>
		<div class="info">{{r.description}}<br>{{r.views|intcomma}} views {{r.total_upvotes}} <img src="{{MEDIA_URL}}images/upfist_small.png"/></div>
	</li>
	{%empty%}
	  <h2>Don't see what you're looking for? <a href="/add">Add it</a></h2>
	{%endfor%}
</ul>

{%endblock%}

{%block aside %}
{%endblock%}