{%extends "base.html"%}
{% load comments %}
{% load humanize %}

{%block title%}Search{%endblock%}

{%block content%}
{% if query %}
<h1>
  Results for <span class="query">{{query}}</span>
</h1>
{%else%}
<h1>No query entered</h1>
{% endif %}

<ul id="results" class="group">
  {% for r in results %}
	<li class="group">
		<a class="thumb" href="{{r.get_absolute_url}}"><span class="play"></span><img src="{{r.embed.response.thumbnail_url}}" width="100"></a>
		<h4><a href="{{r.get_absolute_url}}">{{r.title}}</a></h4>
		<div class="info">{%if r.first_comment%}{{r.first_comment.comment}} &mdash; {{r.first_comment.name}} {{r.first_comment.submit_date|date:"SHORT_DATE_FORMAT"}}<br>{%endif%}
		  {%if r.views%}{{r.views|intcomma}} views{%endif%}
		  {{r.total_upvotes}} votes</div>
	</li>
	{%empty%}
	  <h2>Don't see what you're looking for? <a href="/add">Add it</a></h2>
	{%endfor%}
</ul>

{% if pagination %}
<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} / {{ page.paginator.num_pages }}
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{%endif%}

{%endblock%}

{%block aside %}
{%endblock%}