{%extends "base.html"%}
{% load tagging_tags %}
{% load comments %}
{% load humanize %}

{%block title%}{%if title%}{{title}}{%else%}{{media.title}}{%endif%}{%endblock%}

{%block content%}
<h1>
  {{media.title}}
</h1>

<div id="embed">
{{media.embed.html|safe}}
</div>

<div id="info">
  <ul>
    <li>Vote <a href="/view/vote/{{media.id}}/1/">up</a></li>
    <li>Flag</li>
    <li>Tags:
      {% tags_for_object media as tags %}
      <ul>
        {%for tag in tags %}
        <li>{{tag}}</li>
        {%endfor%}
      </li>
  </ul>
</div>

<div id="reviews">
  {% if media%}{% render_comment_list for media %}{%endif%}
</div>
{%endblock%}

{%block aside %}

{%for tab in tabs%}
<h3><a href="#{{tab.name|lower}}">{{tab.name}}</a></h3>
{%endfor%}
<div class="slide">
{%for tab in tabs%}
  <ul id="{{tab.name|lower}}">
    {%for media in tab.list %}
    <li class="group">
  	  <a href="{{media.get_absolute_url}}"><img src="{{media.embed.response.thumbnail_url}}" width="100"></a>
  	  <h4><a href="{{media.get_absolute_url}}">{{media.title}}</a></h4>
  	  <div class="info"><span class="media_description">{{media.description}}</span>
  	  					{%if media.views%}<span class="media_views">{{media.views|intcomma}} views</span>{%endif%}
  	  					{%comment%} {{media.total_upvotes}}  <span class="media_votes"><img src="{{MEDIA_URL}}images/upfist_small.png"/></span> {%endcomment%}
  	  </div>
  	</li>
  	{%endfor%}
{%endfor%}
</div>

{%endblock%}