{%extends "base.html"%}
{% load tagging_tags %}
{% load comments %}
{% load humanize %}

{%block title%}{%if title%}{{title}}{%else%}{{media.title}}{%endif%}{%endblock%}

{%block content%}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if media %}
<h1>
  {{media.title}}
</h1>

<div id="embed">
{{media.embed.html|safe}}
</div>

<div id="info">
  <ul>
    <li><a href="/view/vote/{{media.id}}/1/" class="upvote">Vote up</a></li>
    <li><a href="/flag/{{media.id}}/" class="flag">Flag</a></li>
    <li>Tags:
      {% tags_for_object media as tags %}
      <ul class="tags">
        {%for tag in tags %}
        <li><a href="/search?tag={{tag}}">{{tag}}</a></li>
        {%endfor%}
      </li>
  </ul>
</div>

<div id="reviews" class="group">
  {% render_comment_list for media %}
</div>
{%else%}
<h1>Nothing yet, add the first video</h1>
{%endif%}
{%endblock%}

{%block aside %}

<ul class="tabs group">
{%for tab in tabs%}
	<li class="tab">
		<h3><a href="#{{tab.name|slugify}}">{{tab.name}}</a></h3>
	</li>
{%endfor%}
</ul>
<div class="slide group">
{%for tab in tabs%}
  <ul id="{{tab.name|slugify}}" class="group">
    {%for media in tab.list %}
    <li class="group">
  	  <a href="{{media.get_absolute_url}}"><img src="{{media.embed.response.thumbnail_url}}" width="100"></a>
  	  <h4><a href="{{media.get_absolute_url}}">{{media.title}}</a></h4>
  	  <div class="info"><span class="media_description">{{media.description}}</span>
  	  					{%if media.views%}<span class="media_views">{{media.views|intcomma}} views</span>{%endif%}
  	  					
  	  </div>
  	</li>
  	{%empty%}
  	Nothing yet: check back later, or add more.
  	{%endfor%}
  </ul>
{%endfor%}
</div>

{%endblock%}