{%extends "view.html"%}

{%block meta%}
<meta property="og:url" content="http://www.99percentmedia.org">
<meta property="og:image" content="http://99percentmedia.org/static/images/99percentlogo.png">
<meta property="og:title" content="99% Media ">
<meta property="og:type" content="website">
<meta property="og:description" content="99% Media is an experiment in collaborative curation. Our initial goal is simple: to collect the vast array of media emerging from the 99 percent movement and help the most powerful pieces rise to the top. Anyone can contribute media from places like YouTube, Vimeo, and Flickr, and then vote up their favorites. We've seeded the project with some of our favorite pieces. Please help the archive grow by adding your own!">
{%endblock%}